@font-face {
  font-family: "chessfont-cases";
  src: url("./cases/CASEFONT.TTF") format("truetype")
}

@font-face {
  font-family: "chessfont-seven";
  src: url("./7/Chess-7.TTF") format("truetype")
}

.piece {
    font-family: "chessfont-seven";
    font-size: 200%;
}

.piece {
    cursor: grab;
    height: 100%;
    width: 100%;
    line-height: 1.5;
}

.piece.white {
    color: white;
    text-shadow: 0 0 2px black,0 0 1px black,
                 0 0 2px black,0 0 1px black,
                 0 0 2px black,0 0 1px black,
                 0 0 2px black,0 0 1px black;
}

.piece.black {
    color: black;
    text-shadow: 0 0 1px white,0 0 2px white,
                 0 0 1px white,0 0 2px white,
                 0 0 1px white,0 0 2px white,
                 0 0 1px white,0 0 2px white;
}

.dragging-piece {
    opacity: 0.5;
}

.dragover-square {
    background-color: darkolivegreen;
    opacity: 0.8;
    /*border: 1px solid yellow;*/
}